body {
	padding-left: 2em;
	padding-right: 2em;


}


header h5{
	font-size: 25px;
	font-weight: 200;
	
}
.wrapper-black {
	background: #000000;
	color: white;
	padding: 2em 0;
}




#header {
	
	padding-bottom: 10px;
	width: 100%;
	margin: 40px 0 20px;
	border-bottom: 10px solid
	background-color: #000000;
	float: right;
}


h3{

	font-size: 20px;
	font-weight: 10;
	color: #FF55C2;
}

p{
	text-align: center;
	color: black;

}


h6{
	color: black;
}

.hero-image {
    background-image: url("../images1/coworking.jpg");
    height: 695%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: 150px;
    color: white;
    text-align: justify;
}
#row h1{
	position: left;
	width: 350px;
border: 1px solid black;
text-align: justify;
padding: 12px;
margin: 50px; 
color: black;
}

#bouton{
	border-color: #FF55C2;
	border-radius: 5px ;
	background-color: #FF55C2;
	
}

#btn{
	border-color: #C6C6C6;
	border-radius: 5px ;
	background-color: #C6C6C6;
}

.card {
	background: white;
	padding: 10px;
	box-shadow: 1px 1px 1px #e7e7e7;
	border-radius: 0px;
	margin: 0px;
	margin-left: 10px;
	position: left;
	width: 350px;
	padding-bottom: 40px;
}


h4{
	text-align: center;
	margin: 10px;
	padding: 10px;
}

nav
{
display: inline-block;
width: 3000px;
text-align: right;
margin-bottom: 0px;
margin-top: 0px;
float: left;
}

nav li{
display: inline-block;
margin-right: 130px;


}

nav a{
font-size: 1em;
color: white;
padding-bottom: 1px;
text-decoration: none;

}

nav a:hover {
color: #FF55C2;
border-bottom: 1px;
{

